body {
  width: 100%;
  height: 100%;
	/*background : url("images/overlay.png"), url("../../images/bg.jpg");*/
	background: #35b88f url("images/banner.svg") bottom center no-repeat;
	margin : 0px;
}

#map {
  width: 50%;
  height: 800px;
}

#header {
		height: 50px;
		margin: 0;
		background : url("images/overlay.png"), url("../../images/bg.jpg");
}

h1 	{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-weight: 600;
	line-height: 1.75em;
	font-size: 20px;
	letter-spacing: 2px;}
